<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
 <display-name>Infinispan remote servlet demo</display-name>
 <servlet>
  <servlet-name>remoteCacheStoreDemo</servlet-name>
  <servlet-class>org.infinispan.demo.web.RemoteCacheStoreDemo</servlet-class>
 </servlet>
 <servlet-mapping>
  <servlet-name>remoteCacheStoreDemo</servlet-name>
  <url-pattern>/remoteCacheStoreDemo</url-pattern>
 </servlet-mapping>
</web-app>
